/* components/Navbar.module.css */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--include-purple); 
    width: 100%;
    height: 6.375 rem;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-left: 5%;
  }
  
  .navLinks {
    display: flex;
    gap: 2rem;
    z-index: 1; 
  }
  
  .text{
    font-size: 0.75rem;
    color: var(--text-midtone)
  }
  
  
  .filetab {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    width: auto;
    gap: 1rem;
    padding: 0.5rem 1.5rem;
    margin-top: 1%;
  }

  .fileTabImage {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%; 
    height: auto;
  }


