/* components/Navbar.module.css */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--include-purple); 
    width: 100%;
    height: 6.375 rem;
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-left: 5%;
  }
  .text{
    font-size: 0.75rem;
    color: var(--text-midtone)
  }
  
  .navLinks {
    display: flex;
    align-items: center;
  }
  
  
.filetab{
display: flex;
  align-items: center;
  gap: 2rem;
  background-color: var(--background-light);
  padding: 0.75rem 1.5rem;
  margin-top: 1rem; 

  }




