.workshop {
    --skew-angle: 20deg;
    --tab-width: 400px;
    --nav-height: 67px;
    font-size: 1.5rem;
}

.workshopNav {
    background-color: var(--include-purple-light);
    display: flex;
    height: var(--nav-height);
    overflow: auto;
}

.tabContainer {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
}

.navTab {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-left: 40px;
}

.navTab {
    transform: perspective(20px) skewx(var(--skew-angle));
    display: flex;
    flex-direction: row;
    width: var(--tab-width);
}

.navTab > * {
    transform: skewx(calc(var(--skew-angle) * -1));
}

.overlap {
    position: absolute;
    left: -15px;
    background-color: white;
    height: var(--nav-height);
    width: 30px;
}

.selectedTab {
    background-color: white;
    color: black;
}

.dividerContainer {
    transform: skewx(var(--skew-angle));
    width: 2px;
    margin: 8px 0;
    display: flex;
    align-items: stretch;
}

.divider {
    flex: 1;
    background-color: white;
}