.mainContainer {
    background: var(--include-gradient);
    position: relative;
}

.tab{
    position: absolute;
    top: 0;
    left: -15px;

    background-color: var(--background-light);
    transform: skewx(var(--skew-angle));
    
    height: var(--tab-height);
    width: 75vw;
}

.mainBodyContainer {
    padding: calc(var(--edge-spacing) + var(--tab-height)) var(--edge-spacing);

    h1 {
        text-align: center;
        color: var(--text-light);
        margin-bottom: 40px;
    }
}
