.content {
    --skew-angle: -20deg;
    --tab-width: 1000px;
    
    position: relative;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(8px * 5);
    
    background: var(--include-gradient);
    color: var(--text-light);
    text-align: center;
    font-size: larger;
    
    padding: calc(var(--edge-spacing) + var(--tab-height)) var(--edge-spacing);


    p {
        font-weight: 300;
        padding-bottom: calc(8px * 4);
    }
}

.overlap {
    position: absolute;
    top: 0;
    left: -15px;

    background-color: var(--background-light);
    transform: skewx(var(--skew-angle));
    
    height: var(--tab-height);
    width: 75vw;
}