:root {
  --include-purple: #3C257E;
  --include-purple-light: #5a4b85;
  --accent-color: #97C3BD;
  
  --background-light: #F9F9F9;
  --background-dark: #969696;
  --foreground-light: #FFF;

  --text-dark: #000;
  --text-midtone: #414141;
  --text-light: #FFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
