.container {
    background-color: var(--background-light);
    padding: var(--edge-spacing);
    color: var(--text-midtone);
}

.content {
    background-color: var(--foreground-light);
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.05);

    border-radius: 16px;
    padding: 80px;

    display: flex;
    flex-direction: column;
    gap: 40px;

    p {
        white-space: pre-wrap;
    }
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;

    p {
        padding: 8px 32px;

        color: var(--include-purple);
        border: solid 1px var(--include-purple);
        border-radius: 32px;

        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
    }
}

.tags {
    display: flex;
    gap: 32px;
}

.tag {
    padding: 8px 24px;
    border: solid 1px var(--include-purple);
    border-radius: 32px;
}
