// Page styles
.content {
    background: var(--include-gradient);

    color: var(--text-light);
    padding: calc(8px * 16) calc(8px * 12)
}

.header {
    font-size: 2rem;
    font-weight: 700;
}

.text {
    font-size: 1rem;
    font-weight: 300;
}

.bold {
    font-weight: 700;
}

// Card Styles
.card {
    background-color: var(--include-purple-light);
    color: var(--text-midtone);

    position: relative;
    border-radius: 20px;
    max-width: 40%;
}

// .card_active {
//     background-color: var(--accent-color);
// }

.card_front {
    background-color: var(--foreground-light);
    width: 90%;
    
    border-radius: 20px 0px 0px 20px;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    left: 90%;
    top: 50%;
    transform: translate(-50%, -50%); // Translates from top left corner to center

    background-color: var(--foreground-light);
    border-radius: 50%;
    height: 50px;
    width: 50px;

    border: 1px solid var(--include-purple-light)
}

.card_content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 32px 24px;
}

.title {
    font-size: 2rem;
    font-weight: 700;
}

.agenda {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    list-style: none;
}

.agenda_item {
    padding: 8px;
    border-radius: 50px;
    box-shadow: 0px 0px 15px 1px #00000026;
}

.link {
    background-color: var(--include-purple);
    color: var(--text-light);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    padding: 8px;
    border-radius: 10px;
    width: 200px;
}